.card-header {
    font-weight: 500;
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: black !important;
    font-family: Arial, sans-serif;
}

.heading {
    color: #007bff;
}

.paragraph {
    color: #007bff;
}

.centered-section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    min-height: 580px;
}

.content {
    text-align: center;

}

.content.main {
    height: 100vh;
    max-width: 80%;
    min-height: 290px;
}

.logo {
    height: 50vh;
    max-width: 30vw;
    margin-left: auto;
    margin-right: auto;
}

.logo img {
    height: 60vh;
    max-width: 30vw;
    margin-left: auto;
    margin-right: auto;
}

.heading {
    font-size: 30px;
    margin-bottom: 10px;
    color: gold;
}

.paragraph {
    margin-bottom: 20px;
}

#logoContainer {
    width: 300px;
    height: 75px;
    position: relative;
    margin-top: -15vh;
}

#topDiv,
#bottomDiv {
    position: absolute;
    margin-left: 50px;
    width: 100%;
    height: 50%;
    background-color: gold;
    color: black;
    overflow: hidden;
}

#topDiv {
    top: 0;
    transform: skew(-30deg);
}

#bottomDiv {
    bottom: 0;
    transform: skew(-30deg);
}

#innerContent {
    transform: skew(30deg);
    padding: 5px;
    font-size: 18px;
    font-style: italic;
    font-weight: bold;
}

.caption {
    color: gold;
    font-weight: bold;
    font-size: 35px;
    margin-top: 40px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 2px solid #007bff;
    border-bottom: 2px solid #007bff;
}

.containerLocation {
    display: flex;
    flex-wrap: wrap;
    /* Allows items to wrap to the next line */
}

.box {
    flex: 1;
    /* Each box takes up equal space */
    padding: 0px;
    margin: 20px;
    height: 400px;
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.title {
    text-align: center;
    font-weight: 20px;
    font-size: 30px;
    color: #ffc107;
}

.containerLocationList {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    /* Adjust width as needed */
}

.thunder-list {
    list-style-type: none;
    width: 100%;
}

.thunder-item {
    margin-top: 20px;
    color: white;
    font-size: 20px;
}

.thunder-item::before {
    content: "\26A1";
    /* Unicode character for a star symbol (you can use any other Unicode or custom icon) */
    margin-right: 5px;
    color: #FFD700;
    /* Color of thunder icon */
}


/* Breakpoint for desktops 1200px and larger */
@media only screen and (min-width: 1200px) {

    /* Your CSS rules for desktops */
    .custom-container {
        width: 70%;
        margin: 0 auto;
        /* Center the container horizontally */
        /* Just for visualization */
        padding: 20px;
        /* Add some padding inside the container */
    }

    .custom-card {
        margin: 10px;
        width: calc(33.33% - 20px);
        /* Set width for 3 columns with margin */
        border-width: 2px !important;
        border-color: gold !important;
        border-radius: 0% !important;
    }


    .card-header.gold {
        background-color: gold;
        font-weight: bold;
        color: black;
        border-radius: 0%;
    }

    .card-body.gold {
        color: gold;
        background-color: black;
        border-radius: 0%;
    }

    .custom-bullet {
        list-style: none;
        padding-left: 0;
        color: #f0f0f0;
    }

    .custom-bullet li::before {
        content: "\26A1";
        font-size: 1.2em;
        margin-right: 0.1em;
    }

    .custom-bullet.haus li::before {
        content: "🛠️";
    }


    /* Custom CSS for the contact section */
    .contact-section {
        margin-top: 50px;
        color: white;
    }

    .custom-row {
        width: calc(33.33% - 5px) !important;
        /* Set width for 3 columns with margin */
        border-width: 2px !important;
        border-color: gold !important;
        border-radius: 0% !important;
    }

    .contact-info {
        padding: 20px;
        margin-bottom: 20px;
        text-align: center;
        cursor: pointer;
    }

    .contact-info i {
        margin-right: 10px;
    }

    .contact-info-column.border {
        border-color: gold !important;
        border-width: 3px !important;
    }

    .contact-info-column:hover {
        background-color: gold;
        color: black;
    }
}

/* Breakpoint for tablets between 744px and 1199px */
@media only screen and (min-width: 744px) and (max-width: 1199px) {

    /* Your CSS rules for tablets */
    .custom-container {
        width: 90%;
        margin: 0 auto;
        /* Center the container horizontally */
        /* background-color: #f0f0f0; */
        /* Just for visualization */
        padding: 20px;
        /* Add some padding inside the container */
    }

    .custom-card {
        margin: 10px;
        width: calc(50% - 20px);
        /* Set width for 3 columns with margin */
        border-width: 2px !important;
        border-color: gold !important;
        border-radius: 0% !important;
    }


    .card-header.gold {
        background-color: gold;
        font-weight: bold;
        color: black;
        border-radius: 0%;
    }

    .card-body.gold {
        color: gold;
        background-color: black;
        border-radius: 0%;
    }

    .custom-bullet {
        list-style: none;
        padding-left: 0;
        color: #f0f0f0;
    }

    .custom-bullet li::before {
        content: "\26A1";
        font-size: 1.2em;
        margin-right: 0.1em;
    }

    .custom-bullet.haus li::before {
        content: "🛠️";
    }

    /* Custom CSS for the contact section */
    .contact-section {
        margin-top: 50px;
        color: white;
    }

    .custom-row {
        width: calc(50% - 20px) !important;
        /* Set width for 3 columns with margin */
        border-width: 2px !important;
        border-color: gold !important;
        border-radius: 0% !important;
    }

    .contact-info {
        padding: 20px;
        margin-bottom: 20px;
        text-align: center;
        cursor: pointer;
    }

    .contact-info i {
        margin-right: 10px;
    }

    .contact-info-column.border {
        border-color: gold !important;
        border-width: 3px !important;
    }

    .contact-info-column:hover {
        background-color: gold;
        color: black;
    }
}


@media only screen and (max-width: 743px) {

    /* Your CSS rules for mobile devices */
    .custom-container {
        width: 100%;
        margin: 0 auto;
        background-color: black;
        /* Center the container horizontally */
        /* background-color: #f0f0f0; */
        /* Just for visualization */
        padding: 0px;
        /* Add some padding inside the container */
    }

    .custom-card {
        margin: 10px;
        width: calc(100% - 20px);
        /* Set width for 3 columns with margin */
        border-width: 2px !important;
        border-color: gold !important;
        border-radius: 0% !important;
    }

    .card-header.gold {
        background-color: gold;
        font-weight: bold;
        color: black;
        border-radius: 0%;
    }

    .card-body.gold {
        color: gold;
        background-color: black;
        border-radius: 0%;
    }

    .custom-bullet {
        list-style: none;
        padding-left: 0;
        color: #f0f0f0;
    }

    .custom-bullet li::before {
        content: "\26A1";
        font-size: 1.2em;
        margin-right: 0.1em;
    }

    .custom-bullet.haus li::before {
        content: "🛠️";
    }


    /* Custom CSS for the contact section */
    .contact-section {
        margin-top: 50px;
        color: white;
    }

    .custom-row {
        width: calc(100% - 5px) !important;
        /* Set width for 3 columns with margin */
        border-width: 2px !important;
        border-color: gold !important;
        border-radius: 0% !important;
    }

    .contact-info {
        padding: 10px;
        margin-bottom: 20px;
        text-align: center;
        cursor: pointer;
    }

    .contact-info i {
        margin-right: 10px;
    }

    .contact-info-column.border {
        border-color: gold !important;
        border-width: 3px !important;
    }

    .contact-info-column:hover {
        background-color: gold;
        color: black;
    }


.logo {
    height: 50vh;
    max-width: 90vw;
    margin-left: auto;
    margin-right: auto;
}

.logo img {
    height: 60vh;
    max-width: 70vw;
    margin-left: auto;
    margin-right: auto;
}

.heading {
    font-size: 30px;
    margin-bottom: 10px;
    color: gold;
}

.paragraph {
    margin-bottom: 20px;
}

#logoContainer {
    width: 250px;
    height: 75px;
    position: relative;
    margin-top: -20vh;
    margin-left: 5%;
}

#topDiv,
#bottomDiv {
    position: absolute;
    margin-left: 50px;
    width: 100%;
    height: 50%;
    background-color: gold;
    color: black;
    overflow: hidden;
}

#topDiv {
    top: 0;
    transform: skew(-30deg);
}

#bottomDiv {
    bottom: 0;
    transform: skew(-30deg);
}

#innerContent {
    transform: skew(30deg);
    padding: 5px;
    font-size: 18px;
    font-style: italic;
    font-weight: bold;
}

    .containerLocation {
        height: 1000px;
    }

    .box {
        flex: 1;
        /* Each box takes up equal space */
        padding: 20px;
        margin: 20px;
    }

    iframe {
        width: 100% !important;
        height: 100% !important;
        border: none;
    }

    .containerLocation {
        flex-direction: column;
        /* Stack items vertically on mobile */
    }
}


.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    color: gold;
    /* Set your desired background color */
    padding: 20px 0;
    text-align: center;
}

.navbarcolor {
    background-color: #0D6EFD;
}

/* Style for nav-item within <li> */
.navbar-nav li.nav-item {
    margin-right: 15px;
    /* Adjust spacing between nav items */
}

/* Style for nav-link within <a> */
.navbar-nav li.nav-item a.nav-link {
    color: gold;
    /* Text color */
    padding: 10px 15px;
    font-weight: 600;
    /* Padding */
    text-decoration: none;
    /* Remove default underline */
}

/* Style for nav-link within <a> on hover */
.navbar-nav li.nav-item a.nav-link:hover {
    /* Background color on hover */
    color: #ffffff;
    /* Text color on hover */
}


/* Custom CSS for the phone button */
.phone-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    cursor: pointer;
}

.phone-button i {
    margin-right: 5px;
}

.rounded-pill {
    color: black !important;
    background-color: gold !important;
    border-color: black !important;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.95);
    }

    100% {
        transform: scale(1);
    }
}

.rounded-pill {
    animation: pulse 1s infinite;
}

.slogan {
    margin-top: -10vh;
    color: rgb(242 226 161);
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
}

.heading {
    margin-top: 50px;
    color: #007bff font-size: 25px;
    font-weight: bold;
}

.paragraph {
    margin-top: 20px;
    color: rgb(242 226 161);
}